.signup-cta {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #9f3e52;
  background: radial-gradient(circle, #ba3c56 50%, #8c3143 100%);
}

@media only screen and (max-width: 1280px) {
  .signup-cta {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media only screen and (max-width: 1024px) {
  .signup-cta {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 1024px) {
  .signup-cta {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

@media only screen and (max-width: 640px) {
  .signup-cta {
    margin-top: 0 !important;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.not-front .signup-cta {
  margin-top: 0;
}

@media only screen and (max-width: 640px) {
  .not-front .signup-cta {
    margin-top: 0;
  }
}

.signup-cta__content {
  margin: 0 auto;
  max-width: 70rem;
}

.signup-cta__title {
  max-width: 55rem;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 3rem;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .signup-cta__title {
    padding-top: 3.5rem;
  }
}

@media only screen and (max-width: 640px) {
  .signup-cta__title {
    margin-bottom: 2rem;
  }
}

.signup-cta__title::before {
  content: '';
  display: block;
  position: absolute;
  width: 3rem;
  height: 1.3rem;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0.8rem;
  left: -4rem;
  background-image: url("./icon--envelope.svg");
}

@media only screen and (max-width: 1024px) {
  .signup-cta__title::before {
    /* top: 0; */
    left: 0;
  }
}

.signup-cta__description {
  /* max-width: 55rem; */
  line-height: 1.25;
  color: #fff;
  margin-bottom: 3rem;
}

.support-cta {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #282828;
}

@media only screen and (max-width: 1280px) {
  .support-cta {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 640px) {
  .support-cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.support-cta__content {
  margin: 0 auto;
  max-width: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 750px) {
  .support-cta__content {
    display: block;
  }
}

.support-cta__content--text {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  padding-right: 5rem;
}

@media only screen and (max-width: 1024px) {
  .support-cta__content--text {
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .support-cta__content--text {
    padding-right: 0;
  }
}

.support-cta__title {
  line-height: 1.2;
  color: #fff;
  margin-bottom: 2rem;
}

.support-cta__description {
  line-height: 1.6;
  color: #fff;
}

@media only screen and (max-width: 750px) {
  .support-cta__description {
    margin-bottom: 3rem;
  }
}

.support-cta__button {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

@media only screen and (max-width: 750px) {
  .support-cta__button .button {
    width: auto;
  }
}

.site-footer {
  text-align: center;
  padding: 2rem;
  position: relative;
  background-color: #fff;
}

.site-footer__logo {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-image: url("./logo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -999rem;
  text-decoration: none;
  overflow: hidden;
  margin: 0 auto 4rem;
}

@media only screen and (max-width: 750px) {
  .site-footer__logo {
    margin: 0 auto 2rem;
  }
}

.site-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 750px) {
  .site-footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.site-footer__menu a {
  color: #000;
  text-decoration: none;
}

.site-footer__menu a:hover,
.site-footer__menu a:focus {
  text-decoration: underline;
}

.site-footer__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 750px) {
  .site-footer__menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 3rem;
  }
}

.site-footer__menu .menu li {
  margin: 0 2rem;
}

@media only screen and (max-width: 750px) {
  .site-footer__menu .menu li {
    margin: 1rem 0;
  }
}

.site-footer__copy {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 4rem;
  left: 3.5rem;
}

@media only screen and (max-width: 1024px) {
  .site-footer__copy {
    bottom: 2rem;
    left: 2rem;
  }
}

.site-footer__return-button {
  width: 6rem;
  height: 6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: block;
  outline: 0;
  border: 0;
  position: absolute;
  right: 0;
  bottom: 4rem;
  cursor: pointer;
  text-indent: -999rem;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .site-footer__return-button {
    bottom: 2rem;
  }
}

.sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sb__item {
  font-size: 0;
  text-indent: -999rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  margin: 0 1.5rem;
}

.sb__item a {
  width: 2rem;
  height: 1rem;
  display: block;
}

.sb__item--twitter {
  background-image: url("/icons/x.svg");
}

.sb__item--facebook {
  background-image: url("/icons/facebook.svg");
}

.sb__item--youtube {
  background-image: url("/icons/youtube.svg");
}
