@tailwind base;

@layer base {
  @font-face {
    font-family: GT Sectra Bold;
    font-weight: 700;
    src: url(../fonts/GT-Sectra-Fine-Bold.woff) format('woff');
  }

  @font-face {
    font-family: GT Sectra Regular;
    font-weight: 400;
    src: url(../fonts/GT-Sectra-Fine-Regular.woff) format('woff');
  }

  @font-face {
    font-family: GT Sectra Medium;
    font-weight: 500;
    src: url(../fonts/GT-Sectra-Fine-Medium.woff) format('woff');
  }
}

h1 {
  @apply text-3xl sm:text-4xl font-sectra font-bold mb-2 sm:mb-3;
}

h2 {
  @apply text-2xl sm:text-2xl font-sectra font-light mb-2 sm:mb-3;
}

p {
  @apply font-roboto;
}

a {
  @apply font-medium hover:underline text-primary;
}

/* Trying to fix 100vh on iOS */
.h-intro {
  min-height: calc(100vh - 5rem);
}

@supports (height: 100svh) {
  .h-intro {
    min-height: calc(100svh - 5rem);
  }
}

@tailwind components;
@tailwind utilities;
